@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Elimina márgenes y paddings por defecto del navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'open sans';
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;

}
#root {
  min-height: 100vh;
}